/* Base MIT Libraries styles */

/* Basic */
html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* unsets */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75rem 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
}

ul, 
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* sets */
p,
ol,
ul,
dl {
  margin: 0 0 1.25rem 0;
}

a {
  color: #338bc5;
}


.hd-1, 
.entry-content h1 {
  font-size: 1.75rem;
  margin: 0 0 .5rem 0;
}

.hd-2, 
.entry-content h2  {
  font-size: 1.5rem;
  margin: 0 0 .5rem 0;
}

.hd-3, 
.entry-content h3  {
  font-size: 1.3125rem; 
  margin: 0 0 .5rem 0;
}

.hd-4, 
.entry-content h4  {
  font-size: 1.125rem;
  margin: 0 0 .5rem 0;
}

.hd-5, 
.entry-content h5  {
  font-size: 1rem;
  margin: 0 0 .5rem 0;
}

.hd-6, 
.entry-content h6 {
  font-size: 0.875rem;
  margin: 0 0 .5rem 0;
}

.copy-lead {
  font-size: 1.5rem;
  line-height: 1.5;
}

.copy-large {
  font-size: 1.125rem;
  line-height: 1.3;
}

.copy-base {
  font-size: 1rem;
  line-height: 1.3;
}

.copy-sup {
  font-size: .875rem;
  line-height: 1.3;
}

.copy-micro {
  font-size: .75rem;
  line-height: 1.3;
}


/* Utility */

.sr {
    border: 0 none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.sr-focusable:focus {
  position: static;
  display: block;
  height: auto;
  width: auto; 
}

.is-hidden {
  display: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}


/* Header */

.skip {
  padding: 5px 3%;
}


/* Nav */


/* Main Content */


/* Secondary Content */


/* Layouts - Alt */


/* Footer */


/* media queries */


/* Miscellaneous */


/* Fixes/Overrides */





