
// ----------------------------
// #GRID
// ----------------------------

// grid - breakpoints
$bp-screen-sm:                  480px;
$bp-screen-md:                  768px;
$bp-screen-lg:                  1024px;
$bp-screen-xl:                  1280px;


// ----------------------------
// #COLORS
// ----------------------------

// colors - greyscale
$black:                         rgb(17, 16, 16);
$black-t:                       rgb(0, 0, 0); // true black
$white:                         rgb(252, 252, 252);
$white-t:                       rgb(255, 255, 255); // true white
$gray:                          rgb(167, 164, 164);
$gray-cool:                     rgb(158, 177, 185);
$transparent:                   rgba(0, 0, 0, 0);
$shadow:                        rgba($black-t, .5);

// colors - named
$red:                           rgb(178, 6, 16);
$yellow:                        rgb(253, 188, 86);
$green:                         rgb(37, 184, 90);
$blue:                          rgb(0, 121, 188);
$pink:                          rgb(203, 89, 141);

// colors - brand
$brand-primary:                 $blue;
$brand-primary-accent:          rgb(14, 166, 236);
$brand-secondary:               $pink;
$brand-secondary-accent:        rgb(242, 108, 170);

// colors - utilities
$success:                       $green;
$warning:                       $yellow;
$error:                         $red;
$informational:                 $gray-cool;


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

$base-fonts: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$alt-fonts: 'Georgia', Cambria, 'Times New Roman', Times, serif;


// ----------------------------
// #DEPTH
// ----------------------------

$z-depth-way-back:      -1000;
$z-depth-back:           -100;
$z-depth-lil-back:       -10;
$z-depth-base:           1;
$z-depth-lil-front:      10;
$z-depth-front:          100;
$z-depth-way-front:     1000;

