
.button-primary {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid $brand-primary;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: $brand-primary;
  color: $white;

  &:hover, 
  &:focus {
    background-color: $brand-primary-accent;
    border-color: $brand-primary-accent;
    color: $white;
    text-decoration: none;
  }

  &.green {
    border: 1px solid darken($black, 5%);
    background-color: $black;

    &:hover, 
    &:focus {
      background-color: saturate($green-muted, 20%);
      border-color: $green-muted;
    }
  }

  &.magenta {
    border: 1px solid darken($black, 5%);
    background-color: $black;

    &:hover, 
    &:focus {
      background-color: saturate($magenta-muted, 20%);
      border-color: $magenta-muted;
    }
  }

  &.warn {
    border: 1px solid darken($error, 10%);
    background-color: darken($error, 5%);

    &:before {
      font-family: FontAwesome;
      content: "\f071 ";
      font-size: .8em;
      margin-right: 5px;
    }

    &:hover, 
    &:focus {
      background-color: saturate($error, 20%);
      border-color: $error;
    }
  }
}

.button-secondary {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid $gray-l2;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: transparent;
  color: $black;

  &:hover, 
  &:focus {
    background-color: $brand-primary-accent;
    border-color: $brand-primary-accent;
    color: $white;
    text-decoration: none;
  }

  &.green {
    color: $black;

    &:hover, 
    &:focus {
      background-color: saturate($green-muted, 20%);
      border-color: $green-muted;
      color: $white;
    }
  }

  &.magenta {
    color: $black;

    &:hover, 
    &:focus {
      background-color: saturate($magenta-muted, 20%);
      border-color: $magenta-muted;
      color: $white;
    }
  }

  &.warn {
    color: $error;

    &:before {
      font-family: FontAwesome;
      content: "\f071 ";
      font-size: .8em;
      margin-right: 5px;
    }

    &:hover, 
    &:focus {
      background-color: saturate($error, 20%);
      border-color: $error;
      color: $white;
    }
  }
}

.button-subtle {
  @extend .button-secondary;
  border: 0;
}

.button-small {
  padding: 2px 10px;
}


// ruby pagination nav
.pagination {
  margin: 1rem;

  .page {
    display: inline-block;
    min-width: 3rem;
    text-align: center;
  }

  a {
    @extend .button-subtle;
  }

  .current {
    font-weight: $fw-bold;
  }

  .gap {
  }

  .next {
  }

  .last {
  }
}
