<span id="footer-site-slim" class="sr">slim footer example</span>

<!-- begin footer-site-slim -->

<footer>
  <div class="wrap-outer-footer layout-band">
    <div class="wrap-footer footer-slim">
      <div class="footer-main" aria-label="MIT Libraries footer">
        <div class="identity">
          <div class="wrap-logo-lib">
            <a href="https://libraries.mit.edu" class="logo-mit-lib">
              <span class="sr">MIT Libraries home</span>
              <img
                src="https://cdn.mitlibrary.net/files/branding/local/mitlib-wordmark.svg"
                alt="MIT Libraries logo"
                width="150"
              />
            </a>
          </div>
          <div class="wrap-middle">
            <div class="wrap-policies">
              <nav aria-label="MIT Libraries policy menu">
                <span class="item"><a href="https://libraries.mit.edu/privacy" class="link-sub">Privacy</a></span>
                <span class="item"
                  ><a href="https://libraries.mit.edu/permissions" class="link-sub">Permissions</a></span
                >
                <span class="item"
                  ><a href="https://libraries.mit.edu/accessibility" class="link-sub">Accessibility</a></span
                >
              </nav>
            </div>
          </div>
        </div>
        <!-- end .identity -->
      </div>
    </div>
  </div>
  <div class="wrap-outer-footer-institute layout-band">
    <div class="wrap-footer-institute">
      <div class="footer-info-institute">
        <a class="link-logo-mit" href="https://www.mit.edu">
          <span class="sr">MIT home</span>
          <img
            src="https://cdn.mitlibrary.net/files/branding/local/mit_lockup_std-three-line_rgb_white.svg"
            alt="MIT logo"
            width="150"
          />
        </a>

        <div class="license">
          Content created by the MIT Libraries,
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a> unless otherwise noted.
          <a href="https://libraries.mit.edu/research-support/notices/copyright-notify/"
            >Notify us about copyright concerns</a
          >.
        </div>
        <!-- end .footer-info-institute -->
      </div>
    </div>
  </div>
</footer>
