<span id="footer-site-slim" class="sr">slim footer example</span>

<!-- begin footer-site-slim -->

<footer>
<div class="wrap-outer-footer layout-band">
	<div class="wrap-footer footer-slim">
		<div class="footer-main" aria-label="MIT Libraries footer">
			<div class="identity">
				<div class="wrap-logo-lib">
					<a href="https://libraries.mit.edu" class="logo-mit-lib" alt="MIT Libraries Logo">
						<span class="sr">MIT Libraries home</span>
						<img src="{{ '/dest/i/mitlib-wordmark.svg' | relative_url }}" alt="MIT Libraries logo">
					</a>
				</div>
			</div><!-- end .identity -->
			<div class="wrap-sitemap">
				<nav class="sitemap-libraries-abbrev" aria-label="MIT Libraries site menu">
					<h2 class="sr">MIT Libraries navigation</h2>
					<a class="item" href="https://libraries.mit.edu/">Home</a>
					<a class="item" href="https://libraries.mit.edu/search">Search</a>
					<a class="item" href="https://libraries.mit.edu/hours">Hours &amp; locations</a>
					<a class="item" href="https://libraries.mit.edu/borrow">Borrow &amp; request</a>
					<a class="item" href="https://libraries.mit.edu/research-support">Research support</a>
					<a class="item" href="https://libraries.mit.edu/about">About the Libraries</a>
				</nav>
			</div><!-- end .links-all -->
		</div>
	</div>
</div>
<div class="wrap-outer-footer-institute layout-band">
	<div class="wrap-footer-institute">
		<div class="footer-info-institute">
			<a class="link-logo-mit" href="https://www.mit.edu">
				<span class="sr">MIT</span>
				<svg version="1.1" xmlns="https://www.w3.org/2000/svg" x="0" y="0" width="54" height="28" viewBox="0 0 54 28" enable-background="new 0 0 54 28" xml:space="preserve" class="logo-mit"><rect x="28.9" y="8.9" width="5.8" height="19.1" class="color"/><rect width="5.8" height="28"/><rect x="9.6" width="5.8" height="18.8"/><rect x="19.3" width="5.8" height="28"/><rect x="38.5" y="8.9" width="5.8" height="19.1"/><rect x="38.8" width="15.2" height="5.6"/><rect x="28.9" width="5.8" height="5.6"/></svg>
			</a>
			<div class="about-mit">
				<span class="item">Massachusetts Institute of Technology</span>
			</div>
			<div class="license">Content created by the MIT Libraries, <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a> unless otherwise noted. <a href="https://libraries.mit.edu/research-support/notices/copyright-notify/">Notify us about copyright concerns</a>.
			</div><!-- end .footer-info-institute -->
		</div>
	</div>
</div>
</footer>
