<span id="footer-site" class="sr">full footer example</span>

<!-- begin footer-site -->

<div class="wrap-outer-footer layout-band">
  <div class="wrap-footer">
    <div class="footer-main" aria-label="MIT Libraries footer">
      <div class="wrap-sitemap">
        <div class="wrap-list col">
          <h3 class="title item"><a href="https://libraries.mit.edu/search">Search</a></h3>
          <div class="menu-sub">
            <a href="https://libraries.mit.edu/bartonplus" class="link-sub">BartonPlus</a>
            <a href="https://libraries.mit.edu/barton" class="link-sub">Barton catalog</a>
            <a href="https://libraries.mit.edu/vera" class="link-sub">Vera: E-journals &amp; databases</a>
            <a href="https://libraries.mit.edu/worldcat" class="link-sub">WorldCat</a>
            <a href="https://libraries.mit.edu/reserves" class="link-sub">Course reserves</a>
            <a href="https://libraries.mit.edu/about/site-search" class="link-sub">Site search</a>
            <a href="https://libraries.mit.edu/search" class="link-sub">More search options</a>
          </div>
        </div>
        <div class="wrap-list col">
          <h3 class="title item"><a href="https://libraries.mit.edu/hours">Hours &amp; locations</a></h3>
          <div class="menu-sub">
            <a href="https://libraries.mit.edu/hours" class="link-sub">Hours</a>
            <a href="https://libraries.mit.edu/locations" class="link-sub">Map of locations</a>
            <a href="https://libraries.mit.edu/study" class="link-sub">Study spaces</a>
            <a href="https://libraries.mit.edu/exhibits" class="link-sub">Exhibits &amp; galleries</a>
          </div>
        </div>
        <div class="wrap-list col">
          <h3 class="title item"><a href="https://libraries.mit.edu/borrow">Borrow &amp; request</a></h3>
          <div class="menu-sub">
            <a href="https://libraries.mit.edu/barton-account" class="link-sub">Your Account</a>
            <a href="https://libraries.mit.edu/circ" class="link-sub">Circulation FAQ</a>
            <a href="https://libraries.mit.edu/reserves" class="link-sub">Reserves &amp; TIP FAQ</a>
            <a href="https://libraries.mit.edu/otherlibraries" class="link-sub">Visit non-MIT libraries</a>
            <a href="https://libraries.mit.edu/borrow" class="link-sub">More borrow &amp; request options</a>
          </div>
        </div>
        <div class="wrap-list col">
          <h3 class="title item"><a href="https://libraries.mit.edu/research-support">Research support</a></h3>
          <div class="menu-sub">
            <a href="https://libraries.mit.edu/ask" class="link-sub">Ask us</a>
            <a href="https://libraries.mit.edu/experts" class="link-sub">Research guides &amp; expert librarians</a>
            <a href="https://libraries.mit.edu/productivity-tools" class="link-sub">Productivity tools</a>
            <a href="https://libraries.mit.edu/scholarly" class="link-sub">Scholarly publishing</a>
            <a href="https://libraries.mit.edu/references" class="link-sub">Citation software</a>
            <a href="https://libraries.mit.edu/research-support" class="link-sub">More research support options</a>
          </div>
        </div>
        <div class="wrap-list col">
          <h3 class="title item"><a href="https://libraries.mit.edu/about">About us</a></h3>
          <div class="menu-sub">
            <a href="https://libraries.mit.edu/contact" class="link-sub">Contact us</a>
            <a href="https://libraries.mit.edu/news" class="link-sub">News</a>
            <a href="https://libraries.mit.edu/events" class="link-sub">Classes &amp; events</a>
            <a href="https://libraries.mit.edu/use-policies" class="link-sub">Use policy</a>
            <a href="https://libraries.mit.edu/about/site-search/" class="link-sub">Services A-Z</a>
            <a href="https://libraries.mit.edu/about" class="link-sub">More about us</a>
          </div>
        </div>
      </div>
      <!-- end .links-all -->
      <div class="identity">
        <div class="wrap-logo-lib">
          <a href="https://libraries.mit.edu" class="logo-mit-lib">
            <span class="sr">MIT Libraries home</span>
            <img
              src="https://cdn.mitlibrary.net/files/branding/local/mitlib-wordmark.svg"
              alt="MIT Libraries logo"
              width="150"
            />
          </a>
        </div>
        <div class="wrap-policies">
          <span class="item"><a href="https://libraries.mit.edu/privacy" class="link-sub">Privacy</a></span>
          <span class="item"><a href="https://libraries.mit.edu/permissions" class="link-sub">Permissions</a></span>
          <span class="item"><a href="https://libraries.mit.edu/accessibility" class="link-sub">Accessibility</a></span>
        </div>
      </div>
      <!-- end .identity -->
    </div>
  </div>
</div>
<div class="wrap-outer-footer-institute layout-band">
  <div class="wrap-footer-institute">
    <footer class="footer-info-institute" aria-label="MIT footer" role="contentinfo">
      <a class="link-logo-mit" href="https://www.mit.edu">
        <span class="sr">MIT home</span>
        <img
          src="https://cdn.mitlibrary.net/files/branding/local/mit_lockup_std-three-line_rgb_white.svg"
          alt="MIT logo"
          width="150"
        />
      </a>
      <div class="license">
        Content created by the MIT Libraries,
        <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a> unless otherwise noted.
        <a href="https://libraries.mit.edu/research-support/notices/copyright-notify/"
          >Notify us about copyright concerns</a
        >.
      </div>
    </footer>
    <!-- end .footer-info-institute -->
  </div>
</div>
