<span id="header-site-slim" class="sr">slim header example</span>

<!-- begin header-site-slim -->

<div class="wrap-outer-header layout-band">
  <div class="wrap-header">
    <header class="header-site header-slim" role="banner">
      <div class="wrap-header-core">
        <h1 class="name-site group nav-logo">
          <a href="https://libraries.mit.edu/" class="logo-mit-lib">
            <span class="sr">MIT Libraries home</span>
            <img src="https://cdn.mitlibrary.net/files/branding/local/mitlib-wordmark.svg" height="35" alt="MIT Libraries logo">
          </a>
          </a>
        </h1>
      </div>
      <div class="wrap-header-supp">
        <a class="link-logo-mit" href="https://www.mit.edu"><span class="sr">MIT</span>
          <img src="https://cdn.libraries.mit.edu/files/branding/local/mit_logo_std_rgb_white.svg" height="35" alt="MIT logo" >
      </div>
    </header>
  </div>
</div>
