<span id="header-local" class="sr">local header example</span>

<!-- begin header-local -->

<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <div class="local-identity">
      <h2 class="title title-site"><a href="/">Local App Title</a></h2>
    </div>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <a class="button-secondary" href="/">One action</a>
          <a class="button-secondary"  href="/">Something else</a>
        </nav>
        <nav class="nav-user" aria-label="User menu">
          <a class="action-auth" href="/">Sign in</a>
        </nav>
      </div>
    </div>
  </div>
</div>
