
.button-primary {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid $brand-primary;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: $brand-primary;
  color: $white;


  &:hover, 
  &:focus {
    background-color: $brand-primary-accent;
    border-color: $brand-primary-accent;
    color: $white;
    text-decoration: none;
  }

  &.green {
    border: 1px solid darken($green, 5%);
    background-color: $green;

    &:hover, 
    &:focus {
      background-color: saturate($green, 20%);
      border-color: $green;
    }
  }
}

.button-secondary {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid $gray-l2;
  border: 1px solid $smoke;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: transparent;

  &:hover, 
  &:focus {
    background-color: $brand-primary-accent;
    border-color: $brand-primary-accent;
    color: $white;
    text-decoration: none;
  }

  &.green {
    border: 1px solid $green;
    color: $green;

    &:hover, 
    &:focus {
      background-color: saturate($green, 20%);
      border-color: $green;
      color: $white;
    }
  }
}

.button-subtle {
  @extend .button-secondary;
  border: 0;
}
