<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base Libraries Page</title>

    {% include assets-site-head.html %}

    <!-- github pages css -->
    <link
      rel="stylesheet"
      href="{{ '/dest/css/libraries-main.min.css?v=' | append: site.github.build_revision | relative_url }}"
    />

    <link rel="icon" href="https://cdn.libraries.mit.edu/files/branding/favicons/favicon.ico" sizes="32x32" />
    <link rel="icon" href="https://cdn.libraries.mit.edu/files/branding/favicons/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="https://cdn.libraries.mit.edu/files/branding/favicons/apple-touch-icon.png" />
    <!-- 180×180 -->
    <link rel="manifest" href="https://cdn.libraries.mit.edu/files/branding/favicons/manifest.json" />
  </head>

  <body class="">
    <a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

    <div class="wrap-page">
      {% include notice-global.html %} {% include header-site-slim.html %} {% include header-local.html %} {% include
      breadcrumb.html %}

      <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
          <main id="content-main" class="content-main" role="main">{{ content }}</main>
          <!-- close content-main -->
        </div>
      </div>

      {% include footer-site-slim.html %} {% include footer-site.html %} {% include scripts-site-foot.html %}
    </div>
    <!-- close wrap-page -->
  </body>
</html>
